<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.code_remote.classes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".class2.MainActivity01Resources" />
        <activity android:name=".class2.MainActivity01ButtonBasics" />
        <activity android:name=".class2.MainActivity02SimpleQuotes" />
        <activity android:name=".class2.MainActivity03BetterQuotes" />
        <activity android:name=".class2.MainActivity04StoringData" />
        <activity android:name=".class2.MainActivity12List" />
    </application>


</manifest>